html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.header__background{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    /* overflow: hidden; */
    /* left: 0; */
    z-index: 999;
}
.header__logo img{
    width: 172px;
    height: 29px;
}
.header__search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 205px;
}
.header__search > input{
    border: none;
    background-color: #f4f4f4;
    width: 400px;
    height: 50px;
    position: relative;
    padding-left: 52px;
    border-radius: 10px;
}
.header__search > i{
    color: #7d899c;
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    font-size: 13px;
}
.header__menu{
    margin-left: 108px;
}
.header__menu > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu > ul > li a{
    margin-left: 25px;
    color: #7d899c;
}
.header__menu > ul > li a:hover{
    color: #597ade;
}
.h__menu{
    display: none;
}

.moon{
    display: none;
}

/* ========== Sidebar ========== */
.sidebar__background{
    background-color: #f4f4f4;
    height: 815px;
    width: 100%;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sidebar__box{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 815px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 72px;
    margin-left: -30px;
}
.cards > a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 270px;
    height: 108px;
    margin-left: 30px;
    border-radius: 15px;
}
.cards > a:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.cards a > i{
    color: #5a67d8;
    margin-bottom: 20px;
    font-size: 20px;
}
.cards a > p{
    color: #718096;
    font-weight: 600;
}
.sidebar{
    display: flex;
    justify-content: center;
    position: relative;
    width: 1170px;
}
.sidebar__des{
    height: 272px;
    margin-top: 172px;
    margin-right:45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar__des .sidebar__des-link{
    background-color: #ededf3;
    width: 92px;
    height: 34px;
    border-radius: 15px;
    color: #5a67d8;
    display: block;
    text-align: center;
    line-height: 34px;
    font-weight: 600;
}
.sidebar__des .sidebar__des-link:hover{
    background-color: #7d899c;
    color: #fff;
}
.title{
    margin-top: 35px;
}
.sidebar__des .title > h1{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: #2d3748;
}
.sidebar__des > p{
    width: 755px;
    color: #718096;
    line-height: 1.5;
    margin-top: 35px;

}
.sidebar__img{
    width: 370px;
    height: 460px;
    margin-top: 80px;
}
.sidebar__img > img{
    width: 370px;
    height: 460px;
    border-radius: 10px;
    flex-shrink: 0;
    object-fit: cover;
}
.pagi{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    align-items: flex-end;
    margin-left: -16px;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
}
.pagi > div{
    margin-left: 16px;
}
.pagi div > .pagi__circle{
    display: block;
    background-color: #d8d8d8;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.pagi div > .pagi__circle:hover{
    background-color: #5a67d8;
}


/* === Editor Pick === */
.editor__pick{
    background-color: #f8f9fa;
    width: 100%;
    height: 970px;
}
.editor{
    width: 100%;
    height: 750px;
    position: relative;
}
.editor__r{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    width: 1170px;
    height: 750px;
}
.editor__left{
    width: 770px;
    height: 750px;
    display: flex;
    flex-direction: column;
}
.editor__h{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 105px;
}

.editor__cards-left{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.editor__card-left{
    background-color: #fff;
    margin-left: 30px;
    width: 370px;
    height: 590px;
    border-radius: 15px;
    /* position: relative; */
    /* cursor: pointer; */
    display: flex;
    flex-direction: column;
}
.editor__card--width{
    height: 560px;
}
.editor__card-left:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.editor__beauty{
    margin: 25px 25px 0px;
    width: 92px;
    height: 33px;
    line-height: 33px;
    background-color: #f7f7fd;
    color: #5a67d8;
    text-align: center;
    border-radius: 25px;
    font-weight: 600;
}
.editor__beauty:hover{
    background-color: #597ade;
    color: #ededf3;
}
.editor__title{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 25px;
    color: #2d3748;
    font-weight: bold;
    font-size: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
.editor__des{
    color: #898096;
    padding: 0 25px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
.editor__img{
    height: 250px;
    width: 370px;
}
.editor__card-left .editor__img img{
    width: inherit;
    height: inherit;
    border-radius: 15px 15px 0 0;
}
.editor__info{
    margin-top: auto;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 25px;
}
.editor__avt{
    margin-bottom: 20px;
}
.editor__info .editor__avt img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
.editor__user{
    margin-left: 10px;
    margin-bottom: 33px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 13px;
    height: 40px;
}
.editor__time{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #718096;
}
.editor__name{
    color: #2d3748;
    font-size: 14px;
}
.editor__acti{
    margin-left: 20px;
}
.aws__box{
    background-color: #fff;
    width: 770px;
    height: 85px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    align-items: center;
}
.aws__text{
    font-weight: 600;
    font-size: 20px;
    line-height: 85px;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#aws__btn--width{
    width: 159px;
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
    line-height: 52px;
}
.editor__right{
    width: 370px;
    height: 720px;
    margin-left: 30px;
}
.topic{
    display: flex;
    flex-direction: column;
}
.topic > a:first-child{
    margin-top: 30px;
}
.topic > a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    width: 370px;
    height: 55px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.topic a > i{
    display: inline-block;
    background-color: #e2e8f1;
    color: #718096;
    line-height: 55px;
    text-align: center;
    width: 80px;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
}
.topic a > p{
    padding-left: 20px;
    font-weight: 600;
    color: #718096;
    font-family: 'Times New Roman', Times, serif;
}
#o-sponser{
    margin-top: calc(57px - 15px);
}
.o-s__img{
    margin-top: 30px;
}
.o-s__img > img {
    width: 370px;
    height: 270px;
    border-radius: 10px;
}
.aws__des{
    color: #718096;
    text-align: center;
    font-size: 13px;
}


/* === Top Pick's of this month === */
.top{
    background-color: #fff;
    width: 100%;
    height: 705px;
    position: relative;
}
.top__r{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 500px;
}
.top__h{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    font-weight: 600;
}
.top__box{
    height: 500px;
    margin-left: -30px;
}
.top__card{
    margin-left: 30px;
    width: 370px;
    height: 450px;
    float: left;
}
/* .top__card:hover{
    transform: scale(1.03);
    cursor: pointer;
} */
.bg{
    position: relative;
}
.top__card img{
    width: 370px;
    height: 450px;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
}
.img__bg{
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 370px;
    height: 450px;
    border-radius: 10px;
}
.top__des{
    /* margin-top: auto; */
    width: 280px;
    /* margin-bottom: 40px; */
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.top__title{
    color: #fff;
    font-weight: 600;
    /* height: 335px; */
    font-size: 20px;
    padding-left: 40px;
    margin-bottom: 20px;
}
.top__info{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}
.top__info .top__avt img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #7d899c;
}
.top__user{
    margin-left: 65px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}
.top__time{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dbe6ef;
}
.top__name{
    color: #dbe6ef;
    font-size: 14px;
}
.top__acti{
    margin-left: 20px;
}

/* ========= Fashion and style ========= */
.fashion__style{
    background-color: #f8f9fa;
    width: 100%;
    height: 715px;
    position: relative;
}

.fashion__r{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: calc(445px + 52px);
}
.f-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-view{
    background-color: #e2e8f1;
    width: 115px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #7180a3;
    border-radius: 20px;
    display: inline-block;
}
.h-view:hover{
    background-color: #597ade;
    color: #ededf3;
}
.fashion__h{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 60px;
}
.fashion__box{
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.fashion__card{
    background-color: #fff;
    margin-left: 30px;
    width: 370px;
    height: 445px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}
.fashion__card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.fashion__title{
    margin-top: 45px;
    margin-bottom: 20px;
    padding: 0 25px;
    color: #2d3748;
    font-weight: bold;
    font-size: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
.fashion__img{
    height: 245px;
    width: 370px;
}
.fashion__card .fashion__img img{
    /* width: 370px;
    height: 245px; */
    width: inherit;
    height: inherit;
    border-radius: 15px 15px 0 0;
}
.fashion__info{
    position: absolute;
    bottom: 0;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 25px;
    /* padding-bottom: 25px; */
}
.fashion__avt{
    margin-bottom: 21px;
}
.fashion__info .fashion__avt img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
.fashion__user{
    margin-left: 10px;
    margin-bottom: 33px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 13px;
    height: 40px;
}
.fashion__time{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #718096;
}
.fashion__name{
    color: #2d3748;
    font-size: 14px;
}
.fashion__acti{
    margin-left: 20px;
}


/* ========= Beauty ========= */
.beauty{
    background-color: #f4f4f4;
    width: inherit;
    height: 765px;
    position: relative;
}

.beauty__r{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: calc(445px + 52px);
}
.b-h{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.beauty__h{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-top: 60px;
}
.b-view{
    background-color: #e2e8f1;
    width: 115px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    color: #7180a3;
    border-radius: 20px;
    display: inline-block;
}
.b-view:hover{
    background-color: #597ade;
    color: #ededf3;
}
.beauty__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -30px;
}
.beauty__card{
    width: calc(50% - 30px);
    margin-left: 30px;
    height: 233px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
}
.beauty__card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.beauty__img > img{
    width: 220px;
    height: 233px;
    border-radius: 10px 0px 0px 10px;
}
.beauty__des{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.beauty__title{
    padding: 0 25px;
    margin-bottom: 20px;
    color: #2d3748;
    font-weight: bold;
    font-size: 18px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.beauty__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}
.beauty__info .beauty__avt img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
.beauty__user{
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 13px;
    height: 40px;
}
.beauty__time{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #718096;
}
.beauty__name{
    color: #2d3748;
    font-size: 14px;
}
.beauty__acti{
    margin-left: 20px;
}

/* =========== Trending ============ */
.trending{
    background-color: #f8f9fa;
    width: inherit;
    height: 780px;
    padding: 0 50px;
    position: relative;
}
.trending__r{
    /* width: 1825px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.trending__h{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 28px;
    font-size: 20px;
}

.trending__box{
    height: 522px;
    display: flex;
    justify-content: center;
    margin-left: -30px;
}
.trending__box .trending__card{
    width: 695px;
    background-color: #fff;
    height: inherit;
    border-radius: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}
.trending__card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.trending__img img{
    height: 522px;
    border-radius: 10px 0 0 10px;
}
.trending__des{
    margin-left: 25px;
}
.trending__des .trending__btn{
    background-color: #f7f7fd;
    color: #5a67d8;
    margin-top: 145px;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-weight: 600;
    font-size: 13px;
}
.trending__btn:hover{
    background-color: #5a67d8;
    color: #fff;
}
.trending__des .trending__title{
    font-weight: bold;
    color: #2d3748;
    margin-top: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
.trending__des > p{
    margin-top: 30px;
    color: #718096;
    font-size: 13px;
    padding-right: 50px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}
.info{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.info .info__avt img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.info__user{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}
.time{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: #2d3748;
    font-size: 14px;
}
.time > p{
    color: #718096;
}
.acti{
    margin-left: 20px;
}

/* =========== Subscribe ============ */
.subscribe{
    background-color: #f4f4f4;
    width: inherit;
    height: 560px;
    position: relative;
}
.subscribe .subscribe__box{
    background-color: #fff;
    height: 365px;
    width: 1170px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subscribe__box > h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}
.subscribe__box > p{
    margin-top: 25px;
    color: #718096;
}
.send-email{
    margin-top: 55px;
}
.subscribe__box .send-email > input{
    border: none;
    background-color: #f4f4f4;
    height: 52px;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
}
.btn{
    color: #fff;
    background-color: #5a67d8;
    width: 150px;
    height: 52px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #597ade;
}

/* =========== Footer ============ */
.footer__background{
    background-color: #fff;
    width: inherit;
    height: 305px;
    position: relative;
}
.footer__box{
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}
.office{
    display: flex;
    flex-direction: column;
}
.office__logo{
    margin-bottom: 27px;
}
.office__logo img{
    width: 172px;
    height: 29px;
}
.office > #all-rights{
    margin-bottom: 20px;
    color: #898096;
}
.office p > a{
    color: #597fe4;
    
}
.ff{
    color: #2d3748;
}
.office .ff, .ff > a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.list{
    display: flex;
    margin-left: 50px;
}
.list__link{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}
.list__link > a{
    color: #898096;
    margin-bottom: 15px;
}
strong{
    margin-bottom: 30px;
    color: #2d3748;
    font-family: 'Times New Roman', Times, serif;
}
.list__link a i{
    display: inline-block;
    font-size: 13px;
}
.list__link a p{
    margin-left: 10px;
    display: inline;
}
.scroll{
    background-color: #5a67d8;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 200px;
    position: relative;
    cursor: pointer;
}
.scroll:hover{
    background-color: #597ade;
}
.scroll > i{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (min-width: 1200px) and (max-width: 1439.98px){
    .trending{
        width: inherit;
        padding: 0 45px;
        height: 615px;
    }
    .trending__r{
        width: 1170px;
        height: 385px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        /* margin: 0 auto; */
        margin-top: 105px;
    }
    .trending__box{
        height: 335px;
    }
    .trending__box .trending__card{
        width: 570px;
    }
    .trending__img{
        height: 335px;
        width: 310px;
    }
    .trending__img img{
        height: 335px;
        width: 310px;
    }
    .trending__des{
        width: auto;
        margin-left: 0px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .trending__des .trending__btn{
        margin-top: 25px;
    }
    .trending__des .trending__title{
        margin-top: 20px;
        padding-right: 20px;
    }
    .trending__des > p{
        padding-right: 20px;
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.65;
    }
    .info{
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: 25px;
    }
}

/* ======= Responsive 1200 ======= */
@media screen and (max-width: 1199.98px){
    .container{
        width: 100%;
    }
    /* ========== Header ========== */
    .h__menu{
        display: none;
    }
    .header__search{
        margin-left: 60px;
    }
    .header__logo img{
        height: 27px;
    }
    .header__search > i{
        margin-left: 19px;
    }
    .header__search > input{
        height: 45px;
    }
    .header__menu{
        margin-left: 40px;
    }
    .moon{
        display: none;
    }
   
    /* ========== Sidebar ========== */
    .sidebar__background{
        width: inherit;
        height: 740px;
        position: relative;
    }
    .sidebar__box{
        width: 930px;
        height: inherit;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .sidebar{
        width: 930px;
    }
    .cards{
        margin-top: 71px;
    }
    .cards > a{
        width: 210px;
        height: 107px;
    }
    .sidebar__des{
        margin-top: 105px;
        width: 585px;
    }
    .sidebar__des > p{
        width: 585px;
        margin-top: 45px;
    }
    
    .sidebar__img{
        width: 289px;
        height: 360px;
        margin-top: 105px;
    }
    .sidebar__img > img{
        width: 289px;
        height: 360px;
    }
    .pagi{
        margin-left: 5px;
        margin-bottom: 5px;
    }

/* === Editor Pick === */
    .editor__pick{
        height: 955px;
    }
    .editor{
        height: 740px;
    }
    .editor__r{
        width: 930px;
        height: 740px;
    }
    .editor__left{
        width: 610px;
        height: inherit;
    }
    .editor__cards-left{
        margin-top: 25px;
    }
    .editor__card-left{
        height: 580px;
        width: 290px;
    }
    .editor__card--width{
        height: 580px;
    }
    .editor__title{
        margin-bottom: 25px;
    }
    .editor__img{
        height: 195px;
        width: 290px;
    }
    .editor__card-left .editor__img img{
        height: 195px;
        width: 290px;
        border-radius: 15px 15px 0 0;
    }
    .aws__box{
        width: 610px;
        margin-top: 23px;
    }
    .topic > a{
        width: 290px;
    }
    .o-s__img > img {
        width: 290px;
        height: 210px;
    }

    /* === Top Pick's of this month === */
    .top{
        height: 700px;
        width: inherit;
    }
    .top__r{
        width: 930px;
    }
    .top__card{
        width: 290px;
    }
    .top__card img{
        width: 290px;
    }
    .img__bg{
        width: 290px;
    }
    .top__des{
        width: 210px;
    }
    .top__title{
        margin-left: 40px;
        padding-left: 0px;
        width: inherit;
        margin-bottom: 25px;
    }
    .top__info{
        width: 210px;
        padding-left: 0px;
        margin-left: 40px;
        height: 60px;
        margin-bottom: 40px;
        margin-top: auto;
        /* align-items: flex-start; */
    }
    .top__user{
        margin-top: auto;
        height: 60px;
        
    }
    .top__acti{
        margin-left: 15px;
    }

    /* ========= Fashion and style ========= */
    .fashion__style{
        width: inherit;
        height: 710px;
    }
    .fashion__r{
        width: 930px; 
        height: 510px;  
    }
    .fashion__card{
        width: 290px;
        width: 435px;
    }
    .fashion__title{
        -webkit-line-clamp: 3;
    }
    .fashion__img{
        height: 190px;
        width: 290px;
    }
    .fashion__info{
        width: 215px;
        padding-left: 0px;
        margin-left: 25px;
    }
    .fashion__date{
        width: 90px;
    }
    .fashion__acti{
        margin-left: 10px;
        width: 50px;
    }

    /* ========= Beauty ========= */
    .beauty{
        width: inherit;
        height: 718px;
    }
    .beauty__r{
        width: 930px;
    }
    .beauty__h{
        font-size: 21px;
    }
    .beauty__card{
        margin-bottom: 25px;
        height: 210px;
    }
    .beauty__img > img{
        width: 170px;
        height: 210px;
    }
    .beauty__des{
        justify-content: flex-start;
    }
    .beauty__title{
        margin-top: 30px;
        -webkit-line-clamp: 3;
        font-size: 21px;
    }
    /* =========== Trending ============ */
    .trending{
        width: inherit;
        padding: 0 45px;
        height: 615px;
    }
    .trending__r{
        width: 1100px;
        height: 385px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        margin-top: 105px;
    }
    .trending__box{
        height: 335px;
    }
    .trending__box .trending__card{
        width: 535px;
    }
    .trending__img{
        height: 335px;
        width: 253px;
    }
    .trending__img img{
        height: 335px;
        width: 253px;
    }
    .trending__des{
        width: 285px;
        margin-left: 0px;
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .trending__des .trending__btn{
        margin-top: 25px;
    }
    .trending__des .trending__title{
        margin-top: 20px;
    }
    .trending__des > p{
        padding-right: 25px;
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.65;
    }
    .info{
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: 25px;
    }

    /* =========== Subscribe ============ */
    .subscribe{
        width: inherit;
        height: 555px;
    }
    .subscribe .subscribe__box{
        width: 930px;
    }
    .subscribe__box > h3{
        font-size: 20px;
    }
    .subscribe__box > p{
        margin-top: 20px;
    }
    .send-email{
        margin-top: 52px;
    }

    /* =========== Footer ============ */
    .footer__background{
        width: inherit;
        height: 303px;;
    }
    .footer__box{
        width: 930px;
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .office__logo{
        margin-bottom: 25px;
    }
    .list__link{
        margin-left: 68px;
    }
    .scroll{
        margin-top: 195px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1160px){
    .trending{
        width: inherit;
        padding: 0 45px;
        height: 615px;
    }
    .trending__r{
        width: 920px;
        height: 385px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        /* margin: 0 auto; */
        margin-top: 105px;
    }
    .trending__box{
        height: 335px;
    }
    .trending__box .trending__card{
        width: 450px;
    }
    .trending__img{
        height: 335px;
        width: 220px;
    }
    .trending__img img{
        height: 335px;
        width: 220px;
    }
    .trending__des{
        width: auto;
        margin-left: 0px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .trending__des .trending__btn{
        margin-top: 25px;
    }
    .trending__des .trending__title{
        margin-top: 20px;
        padding-right: 20px;
    }
    .trending__des > p{
        padding-right: 20px;
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.65;
    }
    .info{
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: 25px;
    }
    .time{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .acti{
        margin-top: 2px;
        margin-left: 0px;
    }
}

/* ======= Responsive 992 ======= */
@media screen and (max-width: 991.98px){
    
    /* ========== Header ========== */
    .header__background{
        height: 83px;
    }
    .header__search{
        display: none;
    }
    .header__menu{
        display: none;
    }
    .moon{
        margin-left: 412px;
        display: block;
        color: #718096;
        font-size: 23px;
    }
    .h__menu{
        margin-left: 12px;
        display: flex;
        background-color: #5a67d8;
        width: 37px;
        height: 33px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }
    .h__m-992 > i{
        line-height: 33px;
        font-size: 19px;
    }
    
    /* ========== Sidebar ========== */
    .sidebar__background{
        margin-top: 83px;
        height: 1277px;
    }
    .sidebar__box{
        width: 690px;
    }
    .cards{
        flex-wrap: wrap;
        height: 240px;
        margin-top: 70px;
    }
    .cards > a{
        width: 330px;
        height: 107px;
    }
    .cards > a:nth-child(3){
        margin-top: 24px;
    }
    .cards > a:nth-child(4){
        margin-top: 24px;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        width: 690px;
    }
    .sidebar__des{
        width: 680px;
        height: 255px;
        margin-top: 80px;
        flex-direction: column;
    }
    .sidebar__des .title > h1{
        font-size: 32px;
        line-height: 1.3;
    }
    .sidebar__des > p{
        width: 680px;
        margin-top: 30px;
        line-height: 1.6;
    }
    .sidebar__img{
        width: 450px;
        height: 560px;
        margin-top: 27px;
    }
    .sidebar__img > img{
        width: 450px;
        height: 560px;
    }
    .pagi {
        margin-left: -6px;
    }

    /* ======= Editor Pick ======== */
    .editor__pick{
        height: 1930px;
    }
    .editor{
        height: 1770px;
    }
    .editor__r{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 1770px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .editor__left{
        height: 830px;
        width: 690px;
        margin-top: 80px;
    }
    .editor__h{
        margin-top: 0px;
    }
    .editor__cards-left{
        margin-top: 35px;
    }
    .editor__card-left{
        width: 330px;
    }
    .editor__card-left, .editor__card--width{
        height: 590px;
    }
    .editor__right{
        margin-top: 75px;
    }
    #topic__h{
        margin-top: 0px;
    }
    .editor__des{
        -webkit-line-clamp: 3;
    }
    .editor__img{
        width: 330px;
        height: 222px;
    }
    .editor__card-left .editor__img img{
        width: 330px;
        height: 222px;
    }
    .editor__info{
        width: 280px;
    }
    .aws__box{
        width: 690px;
    }
    .editor__title{
        margin-bottom: 28px;
    }
    .editor__right{
        margin-left: 0px;
        width: 690px;
        height: 948px;
    }
    .topic > a{
        width: 690px;
    }
    .o-s__img{
        margin-top: 28px;
    }
    .o-s__img > img{
        width: 690px;
        height: 500px;
    }

    /* === Top Pick's of this month === */
    .top{
        height: 1130px;
    }
    .top__r{
        margin-top: 80px;
        height: 1000px;
        width: 690px;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    .top__h{
        margin-bottom: 28px;
        
    }
    .top__box{
        display: flex;
        justify-content: flex-start;
        /* align-items: stretch; */
        flex-wrap: wrap;
        margin-left: -30px;
        flex-direction: row;
    }
    .top__card{
        margin-left: 30px;
        width: 330px;
        height: 450px;
        position: relative;
        /* display: flex; */
        /* justify-content: flex-start; */
    }
    .top__box > .top__card:nth-child(3){
        margin-top: 25px;
    }
    .top__card img{
        width: 330px;
        height: 450px;
    }
    .img__bg{
        width: 330px;
        height: 450px;
    }
    .top__des{
        width: 330px;
    }
    .top__title{
        padding: 0 30px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .top__info{
        width: 300px;
        padding-left: 0px;
        margin-left: 30px;
    }


    /* ========= Fashion and style ========= */
    .fashion__style{
        height: 1117px;
    }
    .fashion__r{
        width: 690px;
        height: 990px;
    }
    .f-h{
        align-items: stretch;
    }
    .fashion__h{
        margin-top: 80px;
        height: 25px;
        margin-bottom: 48px;
    }
    .fashion-view{
        width: 115px;
        height: 38px;
        margin-top: 75px;
        margin-bottom: 40px;
    }
    .h-view{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .fashion__box{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .fashion__box > a:nth-child(3){
        margin-top: 23px;
    }

    .fashion__card{
        width: 330px;
        height: 445px;
    }
    .fashion__title{
        -webkit-line-clamp: 3;
    }
    .fashion__img{
        height: 218px;
        width: 330px;
    }
    .fashion__card .fashion__img img{
        width: inherit;
        height: inherit;
    }
    .fashion__info{
        width: 280px;
    }


    /* ========= Beauty ========= */
    .beauty{
        height: 1440px;
    }
    .beauty__r{
        width: 690px;
        height: 1290px;
    }
    .b-h{
        align-items: stretch;
    }
    .beauty__h{
        margin-top: 80px;
        height: 25px;
        margin-bottom: 48px;
    }
    .beauty-view{
        width: 115px;
        height: 38px;
        margin-top: 75px;
        margin-bottom: 40px;
    }
    .b-view{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .beauty__box{
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: -22px;
    }
    .beauty__card{
        margin-left: 0px;
        width: 690px;
        height: 287px;
        margin-bottom: 22px;
    }
    .beauty__img{
        width: 270px;
        height: 287px;
    }
    .beauty__img > img{
        width: 270px;
        height: 287px;
    }

    /* =========== Trending ============ */
    .trending{
        height: 1268px;
        /* padding: 0 48px; */
    }
    .trending__r{
        width: 895px;
        height: 1115px;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 81px;

    }
    .trending__box{
        height: 1065px;
        margin-left: 0px;
        flex-direction: column;
        justify-content: flex-start;
    }
    .trending__box .trending__card{
        width: 895px;
        height: 520px;
        margin-left: 0px;
        margin-bottom: 23px;
        justify-content: flex-start;
        align-items: center;
    }
    .trending__img{
        height: 520px;
        width: 430px;
    }
    .trending__img img{
        width: 430px;
        height: 520px;
    }
    .trending__des{
        padding: 0 25px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: auto;

    }
    .trending__des > p{
        margin-top: 30px;
        margin-bottom: 20px;
        -webkit-line-clamp: 2; 
    }


    /* =========== Subscribe ============ */
    .subscribe{
        height: 510px;
    }
    .subscribe .subscribe__box{
        width: 690px;
        height: 365px;
    }
    .subscribe__box > h3{
        font-size: 20px;
    }
    .subscribe__box > p{
        margin-top: 22px;
    }
    .send-email{
        margin-top: 52px;
    }
    .subscribe__box .send-email > input{
        height: 50px;
    }
    .btn{
        height: 52px;
        width: 148px;
    }

   /* =========== Footer ============ */
    .footer__background{
        height: 437px;
    }
    .footer__box{
        width: 690px;
        height: 330px;
        margin-top: 0px;
        flex-direction: column;
    }
    .office{
        margin-bottom: 58px;
    }
    .office__logo{
        margin-bottom: 25px;
        width: 172px;
        height: 28px;
    }
    .office__logo img{
        height: 28px;
    }
    .list{
        height: 165px;
        width: 690px;
        justify-content: flex-start;
        margin-left: -78px;
    }
    .list__link{
        margin-left: 78px;
        margin-bottom: -15px;
    }
    .scroll{
        margin-top: 330px;
    }
}

@media screen and (min-width: 768px) and (max-width: 950px){
    
    .editor__r{
        width: 690px;
    }
    .trending{
        width: inherit;
        padding: 0 45px;
        height: 900px;
    }
    .trending__r{
        width: 690px;
        height: 743px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        /* margin: 0 auto; */
        margin-top: 105px;
    }
    .trending__box{
        height: 335px;
    }
    .trending__box .trending__card{
        width: 690px;
    }
    .trending__img{
        height: 335px;
        width: 340px;
    }
    .trending__img img{
        height: 335px;
        width: 340px;
    }
    .trending__des{
        width: auto;
        margin-left: 0px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .trending__des .trending__btn{
        margin-top: 25px;
    }
    .trending__des .trending__title{
        margin-top: 20px;
        padding-right: 20px;
    }
    .trending__des > p{
        padding-right: 20px;
        margin-top: 25px;
        font-size: 16px;
        line-height: 1.65;
    }
    .info{
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: 25px;
    }
    .time{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .acti{
        margin-top: 2px;
        margin-left: 0px;
    }
}
/* ======= Responsive 768 ======= */
@media screen and (max-width: 767.98px){
    .header__background{
        height: 83px;
    }
    .header__search{
        display: none;
    }
    .header__menu{
        display: none;
    }
    .moon{
        margin-left: 233px;
    }

    /* ========== Sidebar ========== */
    .sidebar__background{
        margin-top: 83px;
        height: 1448px;
    }
    .sidebar__box{
        width: 510px;
    }
    .cards{
        height: 231px;
        margin-top: 48px;
    }
    .cards > a{
        width: 240px;
        height: 108px;
    }
    .cards > a:nth-child(3){
        margin-top: 15px;
    }
    .cards > a:nth-child(4){
        margin-top: 15px;
    }
    .sidebar{
        width: 510px;
    }
    .sidebar__des{
        width: 510px;
        height: 355px;
        margin-top: 55px;
    }
    .sidebar__des .title > h1{
        font-size: 35px;
        line-height: 1.3;
    }
    .sidebar__des > p{
        width: 510px;
        margin-top: 40px;
    }
    .sidebar__img{
        width: 510px;
        height: 634px;
        margin-top: 28px;
    }
    .sidebar__img > img{
        width: 510px;
        height: 634px;
    }
    .pagi{
        margin-bottom: 10px;
    }

    /* ======= Editor Pick ======== */
    .editor__pick{
        /* display: none; */
        height: 2520px;
    }
    .editor{
        height: 2520px;
    }
    .editor__r{
        top: 0;
        left: 50%;
        transform: translate(-50%,0%);
        height: 2408px;
        width: 510px;
        justify-content: flex-start;
    }
    .editor__h{
        margin-top: 0px;
    }
    .editor__left{
        margin-top: 55px;
        width: 510px;
        height: 1518px;
        display: flex;
        flex-direction: column;
    }
    .editor__cards-left{
        margin-left: 0px;
        height: 1518px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .editor__card-left, .editor__card--width {
        width: 510px;
        height: 654px;
    }
    .editor__card-left{
        margin-left: 0px;
    }
    .editor__cards-left > .editor__card-left:nth-child(1){
        margin-top: 34px;
    }
    .editor__card--width{
        margin-top: 47px;
    }
    .editor__title{
        -webkit-line-clamp: 2;
        margin-bottom: 25px;
    }
    .editor__des{
        -webkit-line-clamp: 2;
        line-height: 1.4;
    }
    .editor__img{
        width: 510px;
        height: 345px;
    }
    .editor__card-left .editor__img img{
        width: 510px;
        height: 345px;

    }
    .editor__info{
        width: 460px;
        margin-top: 22px;
    }
    .aws__box{
        width: 510px;
        height: 84px;
    }
    .editor__right{
        margin-top: 76px;
        width: 510px;
        height: 815px;
    }
    .topics{
        margin-top: 0px;
    }
    #topic__h{
        margin-top: 0px;
        font-size: 21px;
    }
    .topic{
        margin-bottom: -15px;
    }
    .topic > a:first-child{
        margin-top: 28px;
    }
    .topic > a{
        width: 510px;
        margin-bottom: 15px;
    }
    #o-sponser{
        font-size: 21px;
        margin-top: 55px;
    }
    .o-s__img{
        margin-top: 28px;
        width: 510px;
        height: 371px;
    }
    .o-s__img > img{
        width: 510px;
        height: 371px;
    }
    .aws__des{
        margin-top: 5px;
    }

    /* === Top Pick's of this month === */
    .top{
        height: 1554px;
    }
    .top__r{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 1448px;
        margin-top: 57px;
        width: 510px;
    }
    .top__h{
        margin-bottom: 27px;
    }
    .top__box{
        height: 1398px;
        margin-left: 0px;
        /* margin-bottom: -24px; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        flex-wrap: nowrap;
    }
    .top__box > .top__card:nth-child(3){
        margin-top: 0px;
    }
    .top__card{
        margin-left: 0px;
        width: 510px;
        height: 450px;
        float: none;
        
    }
    .top__box > .top__card:nth-child(1), .top__box > .top__card:nth-child(2){
        margin-bottom: 24px;
    }
    .top__card img{
        width: 510px;
        height: 450px;
    }
    .img__bg{
        width: 510px;
        height: 450px; 
    }
    .top__des{
        width: 510px;
        
    }
    .top__title{
        padding: 0px 70px 0px 30px;
        margin-bottom: 18px;
    }
    .top__info{
        margin-left: 0px;
        width: 510px;
        padding: 0px 70px 0px 30px;
    }

    /* ========= Fashion and style ========= */
    .fashion__style{
        height: 1835px;
    }
    .fashion__r{
        width: 510px;
        height: 1730px;
    }
    .f-h{
        height: 128px;
        display: flex;
        justify-content: space-between;
    }
    .fashion__h{
        margin-top: 57px;
        margin-bottom: 54px;
    }
    .fashion-view{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .fashion__box{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .fashion__box > a:nth-child(3){
        margin-top: 0px;
    }
    .fashion__card{
        width: 510px;
        height: 537px;
        display: flex;
        flex-direction: column;
    }
    .fashion__box > a:nth-child(1), .fashion__box > a:nth-child(2){
        margin-bottom: 24px;
    }
    .fashion__title{
        margin: 45px 0px 24px 0px;
        -webkit-line-clamp: 2;
        padding: 0px 70px 0px 25px;
    }
    .fashion__img{
        width: 510px;
        height: 337px;
    }
    .fashion__card .fashion__img img{
        width: 510px;
        height: 337px;
    }
    .fashion__info{
        width: 510px;
        margin-left: 0px;
        padding: 0px 70px 0px 25px;
    }

    /* ========= Beauty ========= */
    .beauty{
        height: 1085px;
    }
    .beauty__r{
        width: 510px;
        height: 982px;
    }
    .b-h{
        height: 128px;
        display: flex;
        justify-content: space-between;
    }
    .beauty__h{
        margin-top: 57px;
        margin-bottom: 54px;
    }
    .beauty-view{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .beauty__box{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .beauty__card{
        margin-bottom: 0px;
        width: 510px;
        height: 207px;
    }
    .beauty__box > a:nth-child(1), .beauty__box > a:nth-child(2), .beauty__box > a:nth-child(3){
        margin-bottom: 24px;
    }
    .beauty__title{
        margin-top: 47px;
        font-size: 17px;
    }
    .beauty__img{
        width: 195px;
        height: 207px;
    }
    .beauty__img > img{
        width: 195px;
        height: 207px;
    }

    /* =========== Trending ============ */
    .trending{
        height: 950px;
    }
    .trending__r{
        margin-top: 57px;
        margin-bottom: 0px;
        width: 670px;
        height: 846px;
    }
    .trending__box{
        margin-top: 0px;
        height: 795px;
    }
    .trending__box .trending__card{
        width: 670px;
        height: 385px;
        margin-bottom: 24px;
    }
    .trending__des{
        height: 385px;
        justify-content: flex-start;
    }
    .trending__des > .trending__btn{
        margin-top: 65px;
    }
    .trending__title{
        margin-top: 22px;
        margin-bottom: 0px;
    }
    .trending__des > p{
        margin-bottom: 0px;
    }
    .trending__img{
        height: 385px;
        width: 320px;
    }
    .trending__img img{
        height: 385px;
        width: 320px;
    }
    .info{
        margin-top: 20px;
    }

    /* =========== Subscribe ============ */
    .subscribe{
        height: 435px;
    }
    .subscribe .subscribe__box{
        width: 510px;
        height: 340px;
    }
    .subscribe__box > h3{
        /* margin-top: 65px; */
        font-size: 27px;
    }
    .subscribe__box > p{
        margin-top: 24px;
        width: 510px;
        padding: 0 25px;
        text-align: center;
        margin-bottom: 0px;
        line-height: 1.3;
    }
    .send-email{
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* =========== Footer ============ */
    .footer__background{
        height: 493px;
    }
    .footer__box{
        width: 510px;
        height: 385px;
    }
    .office{
        margin-bottom: 60px;
    }
    .office__logo{
        margin-bottom: 26px;
    }
    .list{
        width: 510px;
        height: 220px;
        margin-left: 0px;
        margin-right: -60px;
    }
    .list__link{
        height: 219px;
        margin-left: 0px;
        margin-right: 60px;
        margin-bottom: 0px;
    }
    .scroll{
        margin-top: 387px;
    }
    .list__link > a {
        width: 120px;
    }
    
    
}

@media screen and (min-width:576px) and (max-width: 690px){
   
    .trending__r{
        width: 550px;
    }
    .trending__box .trending__card{
        width: 550px;
    }
    .trending__img{
        width: 275px;
    }
    .trending__img img{
        width: 275px;
    }
}

/* ======= Responsive 576 ======= */
@media screen and (max-width: 575.98px){
    .header__search{
        display: none;
    }
    .header__menu{
        display: none;
    }
    .moon{
        margin-left: 283px;
    }

    /* ========== Sidebar ========== */
    .sidebar__background{
        margin-top: 83px;
        height: 1380px;
    }
    .sidebar__box{
        width: 544px;
    }
    .cards{
        margin-top: 24px;
        height: 230px;
    }
    .cards > a{
        width: 257px;
        height: 107px;
    }
    .sidebar{
        height: 1127px;
        width: 544px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .sidebar__des{
        width: 544px;
        margin-top: 32px;
        margin-bottom: 0px;
        height: 274px;
    }
    .sidebar__des .title > h1{
        font-size: 35px;
        /* line-height: 1.2; */
    }
    .sidebar__des-link{
        margin-bottom: 0px;
    }
    .sidebar__des .title{
        margin-top: 25px;
    }
    .sidebar__des > p{
        width: 544px;
        margin-top: 34px;
        margin-bottom: 0px;
        font-size: 17px;
        line-height: 1.3;
    }
    .sidebar__img{
        width: 544px;
        height: 675px;
        margin-top: 28px;
    }
    .sidebar__img > img{
        width: 544px;
        height: 675px;
    }
    .pagi{
        margin-bottom: 35px;
    }

    /* ======= Editor Pick ======== */
    .editor__pick{
        height: 2565px;
    }
    .editor{
        height: 2565px;
    }
    .editor__r{
        height: 2565px;
        width: 544px;
    }
    .editor__left{
        margin-top: 57px;
        width: 544px;
        height: 1538px;
    }
    .editor__cards-left{
        height: inherit;
    }
    .editor__card-left, .editor__card--width {
        width: 544px;
        height: 676px;
    }
    .editor__card--width{
        margin-top: 24px;
    }
    .editor__title{
        line-height: 1.25;
    }
    .editor__img{
        width: 544px;
        height: 368px;
    }
    .editor__card-left .editor__img img{
        width: 544px;
        height: 368px;
    }
    .editor__info{
        width: 495px;
        margin-top: 22px;
    }
    .editor__user{
        font-size: 14px;
    }
    .aws__box{
        width: 544px;
        height: 83px;
    }
    .editor__right{
        margin-top: 76px;
        width: 544px;
        height: 840px;
    }
    .topic{
        margin-bottom: -15px;
    }
    .topic > a{
        width: 544px;
        margin-bottom: 15px;
    }
    #o-sponser{
        font-size: 21px;
        margin-top: 56px;
    }
    .o-s__img{
        margin-top: 28px;
        width: 544px;
        height: 395px;
    }
    .o-s__img > img{
        width: 544px;
        height: 395px;
    }

    /* === Top Pick's of this month === */
    .top{
        height: 1555px;
    }
    .top__r{
        width: 544px;
        height: 1450px;
    }
    .top__h{
        margin-bottom: 28px;
    }
    .top__card{
        width: 544px;
        height: 450px;
    }
    .top__card img{
        width: 544px;
        height: 450px;
    }
    .img__bg{
        width: 544px;
        height: 450px; 
    }
    .top__des{
        width: 544px;
    }
    
    .top__title{
        padding: 0px 30px;
        margin-bottom: 24px;
    }
    .top__info{
        margin-left: 0px;
        width: 544px;
        padding: 0px 30px;
    }
    .top__info{
        height: 55px;
    }
    .top__user{
        font-size: 14px;
    }

    /* ========= Fashion and style ========= */
    .fashion__style{
        height: 1905px;
    }
    .fashion__r{
        width: 544px;
        height: 1801px;
    }
    .f-h{
        height: 132px;
    }
    .fashion__h{
        margin-top: 55px;
    }
    .fashion-view{
        margin-top: 50px;
    }
    .fashion__card{
        width: 544px;
        height: 559px;
    }
    .fashion__title{
        margin: 44px 0px 20px 0px;
        -webkit-line-clamp: 2;
        padding: 0px 40px 0px 25px;
    }
    .fashion__img{
        width: 544px;
        height: 360px;
    }
    .fashion__card .fashion__img img{
        width: 544px;
        height: 360px;
    }
    .fashion__info{
        width: 544px;
        padding: 0px 40px 0px 25px;
    }

    /* ========= Beauty ========= */
    .beauty{
        height: 3207px;
    }
    .beauty__r{
        width: 544px;
        height: 3103px;
    }
    .b-h{
        height: 132px;
    }
    .beauty__h{
        margin-top: 55px;
    }
    .beauty-view{
        margin-top: 50px;
    }
    .beauty__card{
        margin-bottom: 0px;
        width: 544px;
        height: 732px;
        display: flex;
        flex-direction: column;
    }
    .beauty__img{
        width: 544px;
        height: 577px;
    }
    .beauty__img > img{
        width: 544px;
        height: 577px;
    }
    .beauty__title{
        margin-top: 30px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word;
    }

    /* =========== Trending ============ */
    .trending{
        height: 2097px;
    }
    .trending__r{
        height: 2097px;
        width: 544px;
    }
    .trending__box{
        height: 1963px;
        width: 544px;
    }
    .trending__box .trending__card{
        width: 544px;
        height: 959px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .trending__des{
        height: 306px;
    }
    .trending__des > .trending__btn{
        margin-top: 25px;
    }
    .trending__title{
        margin-top: 21px;
        /* margin-bottom: 30px; */
    }
    .trending__img{
        height: 655px;
        width: 544px;
    }
    .trending__img img{
        border-radius: 10px 10px 0px 0px;
        height: 655px;
        width: 544px;
    }
    .info{
        margin-top: 23px;
    }

    /* =========== Subscribe ============ */
    .subscribe{
        height: 450px;
    }
    .subscribe__box{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
    .subscribe .subscribe__box{
        width: 544px;
        height: 350px;
    }
    .subscribe__box > p{
        width: 544px;
        /* margin-bottom: 28px; */
        padding: 0 40px;
    }
    .subscribe__box .send-email > input{
        width: 484px;
        margin-bottom: 10px;
    }
    .send-email > .btn{
        width: 484px;
        display: block;
    }
    
    /* =========== Footer ============ */
    .footer__background{
        height: 610px;
    }
    .footer__box{
        width: 544px;
        height: 610px;
    }
    .footer__box .office > .office__logo, .footer__box .office .office__logo > img{
        height: 26px;
    }
    .office{
        
        margin-top: 79px;
        margin-bottom: 32px;
    }
    .office__logo{
        margin-bottom: 27px;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        /* justify-content: space-between; */
        width: 544px;
        /* height: 359px; */
        height: auto;
        margin-left: 0px;
        margin-right: -130px;
    }
    .list__link{
        width: 140px;
        height: 164px;
        margin-right: 130px;
    }
    .scroll{
        margin-top: 505px;
    }
    .all-rights{
        font-size: 16px;
    }
    .ff, .list__link > strong{
        font-size: 16px;
    }
    .list__link > a {
        width: 205px;
        font-size: 16px;
    }
    .list > .list__link:nth-child(3){
        margin-top: 36px;
    }
}



