*,*::after,*::before{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

a{
    text-decoration: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
.container{
    --columns: 5;
    --spacing: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}


.box-item{
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    display: flex;
    flex-direction: column;
    transform: scale(1);
    /* transition: 1s ease-in-out; */
}
.box-item:hover{
    transform: scale(1.02);
    transition: 1s;
}


.text{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0px 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
}
.hidden{
    overflow: hidden;
}
.box__image .img{
    background: url(images/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: auto; */
    display: block;
    width: auto;
    border-radius: 4px 4px 0px 0px;
    height: 20rem;
    object-fit: cover;
    flex-shrink: 0;
    transform: scale(1);
    transition: 1s ease-in-out;
}
.box__image:hover .img{
    transform: scale(1.5);
}
.title{
    font-size: 1.2rem;
    /* margin: 0 1rem; */
    padding: 1.5rem;
    /* font-size: 1rem; */
    font-weight: 600;
    color: rgb(25, 25, 199);
}
.description{
    /* margin: 1rem; */
    padding: 0 1.5rem;
    font-size: 1.1rem;
}
.footer-item{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1.5rem 1.5rem 1.5rem;
    align-items: center;
}
.auth{
   display: flex;
   justify-content: space-between; 
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* margin-left: 10px; */
    padding-left: 1rem;
    flex: 1;
}
.auth__name{
    font-weight: bold;
}
.auth__jobs{
    /* margin-top: 5px; */
    margin-top: 0.5rem;
}
.auth > .auth__avt{
    background: url(images/image.jpg);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5rem;
    object-fit: cover;
    flex-shrink: 0;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-top{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}
.auth,
.footer-item{
    margin-top: auto;
    flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
    .container{
        --columns: 2;
        display: flex;
        justify-content: flex-start;

    }
    
}
@media screen and (max-width: 767px) {
    .container{
        --columns: 1;
    }
    
}