.background{
    height: 100vh;
    width: 100%;
    background: radial-gradient(#654468,#533055,#320f34);
    position: relative;
}
.box-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header{
    width: 400px;
    height: 63px;
    background-color: #744e77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dfd9df;
}

.header__text, .header__close{
    margin: 22px;
}
.form-login{
    width: 400px;
    height: 237px;
    background-color: #f2f2f2;
    padding-top: 23px;
}

.input{
    width: 356px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 22px;
    height: 50px;
    padding-left: 22px;
    background-color: #f0eef0;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    position: relative;
}
.icon{
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 44px;
    margin-top: 15px;
    color: #bdbdbd;
}

#submit{
    width: 100px;
    height: 40px;
    background-color: #7a527d;
    margin-left: 22px;
    color: #fff;
    border: none;
}
.link{
    display: flex;
    align-items: baseline;
}
.forget{
    margin-left: 30px;
    color: #999999;
}